<h1><%= @doctor.name %></h1>
<strong>Department: </strong><%= @doctor.department %>
Appointments:
<ul>
    <% @doctor.appointments.each do |appt| %>
        <% doctor_patient = @doctor.patients.find(appt.patient_id) %>
        <li><%= link_to doctor_patient.name, patient_path(doctor_patient) %> - <%= appt.appointment_datetime.strftime("%B %e, %Y at %k:%M") %></li>
    <% end %>
</ul>