<h2>Appointment for <%= @appointment.appointment_datetime.strftime("%B %e, %Y at %k:%M") %></h2>
Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor_id) %><br>
Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient_id) %>